@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  background: linear-gradient(#ede7de, #f2dbc5);
  background-attachment: fixed;
  min-height: 100%!important;
  min-width: 100vw;
}

#__next{
  min-height: 100vh;
  min-width: 100%!important;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box!important;
}

/* NAV */

.nav-menu a{
  display: flex;
  align-items: center;
}

/*Index*/
.welcome-header{
  
}

.discover-cards{
  display: flex!important;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 500px) {
  
  * {
    font-size: .75rem;
  }
  /* Nav */
  .navButtons {
    display: none!important;
  }
  .navDropDown{
    display: flex;
    justify-content: center;
    width: 4rem;
  }
  /* Index */
  .growingButton{
    width: 100px;
    height: auto;
    font-size: 12px!important;
  }
  /* Basswood & Woodhouse Pages*/
  .infoCard{
    flex-direction: column!important;
  }

  /* About */
  .about {
    flex-direction: column-reverse!important;
  }
} 
